@import "../../scss/all";

.authorization {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  margin: 0 auto;
  padding: 0 20px;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 510px;
    width: 100%;
    height: 520px;
    margin: 0 auto;

    background: #FFFFFF;
    border: 1px solid rgba(39, 39, 39, 0.1);
    border-radius: 5px;


    @media (max-width: em(540)) {

    }
  }
}
.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 32px;
  margin: 40px 0 20px;

  p {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding: 0 20px;

  label {
    position: relative;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    line-height: 22px;
    color: rgba(23, 23, 25, 0.3);

    svg {
      position: absolute;
      top: 50%;
      right: 12px;
      cursor: pointer;

      //TODO: исправить смену цвета, использовать MUI?
      &:active {
        stroke: #1390E5;
      }
    }
  }

  input {
    width: 100%;
    max-width: 304px;
    padding: 12px 15px;
    border: 1px solid rgba(23, 23, 25, 0.2);
    border-radius: 5px;
    font-size: 20px;
    line-height: 24px;
    color: #272727;

    &:focus {
      background: rgba(197, 228, 249, 0.3);
      border: 1px solid transparent;
      outline: 1px solid #1390E5;
    }


  }

  button {
    margin-top: 20px;
  }
}
