@import "../../scss/all";

button {
  width: 176px;
  margin: 0 auto;
  padding: 13px 19px;
  border: 1px solid transparent;
  border-radius: 5px;
  font-size: 20px;
  line-height: 24px;
  cursor: pointer;
  transition: all .2s ease-in-out;

  &:hover {
    background-color: rgb(17 128 203);
  }
  &:active {
    opacity: .9;
  }
}

.color {
  background-color: #1390E5;
  color: #fff;
}

.transparent {
  border: 1px solid #1390E5;
  background-color: #fff;
  color: #1390E5;
}
